In [1]:
import pandas as pd

In [2]:
#pip install openpyxl

In [3]:
stats = pd.read_excel(r'D:\data science\python\pandas\data.xlsx')

In [4]:
stats

,CountryName,CountryCode,BirthRate,InternetUsers,IncomeGroup
0,Aruba,ABW,10.244,78.9,High income
1,Afghanistan,AFG,35.253,5.9,Low income
2,Angola,AGO,45.985,19.1,Upper middle income
3,Albania,ALB,12.877,57.2,Upper middle income
4,United Arab Emirates,ARE,11.044,88.0,High income
...,...,...,...,...,...
190,"Yemen, Rep.",YEM,32.947,20.0,Lower middle income
191,South Africa,ZAF,20.850,46.5,Upper middle income
192,"Congo, Dem. Rep.",COD,42.394,2.2,Low income
193,Zambia,ZMB,40.471,15.4,Lower middle income
194,Zimbabwe,ZWE,35.715,18.5,Low income

In [5]:
len(stats)

195

In [6]:
stats.columns

Index(['CountryName', 'CountryCode', 'BirthRate', 'InternetUsers',
       'IncomeGroup'],
      dtype='object')

In [7]:
len(stats.columns)

5

In [8]:
stats.shape

(195, 5)

In [9]:
stats.isnull()

     CountryName  CountryCode  BirthRate  InternetUsers  IncomeGroup
0          False        False      False          False        False
1          False        False      False          False        False
2          False        False      False          False        False
3          False        False      False          False        False
4          False        False      False          False        False
..           ...          ...        ...            ...          ...
190        False        False      False          False        False
191        False        False      False          False        False
192        False        False      False          False        False
193        False        False      False          False        False
194        False        False      False          False        False

[195 rows x 5 columns]

In [10]:
stats.isna()

     CountryName  CountryCode  BirthRate  InternetUsers  IncomeGroup
0          False        False      False          False        False
1          False        False      False          False        False
2          False        False      False          False        False
3          False        False      False          False        False
4          False        False      False          False        False
..           ...          ...        ...            ...          ...
190        False        False      False          False        False
191        False        False      False          False        False
192        False        False      False          False        False
193        False        False      False          False        False
194        False        False      False          False        False

[195 rows x 5 columns]

In [11]:
stats.isnull().sum()

CountryName      0
CountryCode      0
BirthRate        0
InternetUsers    0
IncomeGroup      0
dtype: int64

In [12]:
stats.dtypes

CountryName       object
CountryCode       object
BirthRate        float64
InternetUsers    float64
IncomeGroup       object
dtype: object

In [13]:
stats.types

AttributeError: 'DataFrame' object has no attribute 'types'

In [14]:
stats.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 195 entries, 0 to 194
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   CountryName    195 non-null    object
 1   CountryCode    195 non-null    object
 2   BirthRate      195 non-null    float64
 3   InternetUsers  195 non-null    float64
 4   IncomeGroup    195 non-null    object
dtypes: float64(2), object(3)
memory usage: 7.7+ KB

In [15]:
type(stats)

pandas.core.frame.DataFrame

In [16]:
stats.head()

,CountryName,CountryCode,BirthRate,InternetUsers,IncomeGroup
0,Aruba,ABW,10.244,78.9,High income
1,Afghanistan,AFG,35.253,5.9,Low income
2,Angola,AGO,45.985,19.1,Upper middle income
3,Albania,ALB,12.877,57.2,Upper middle income
4,United Arab Emirates,ARE,11.044,88.0,High income

In [17]:
stats.tail()

,CountryName,CountryCode,BirthRate,InternetUsers,IncomeGroup
190,"Yemen, Rep.",YEM,32.947,20.0,Lower middle income
191,South Africa,ZAF,20.850,46.5,Upper middle income
192,"Congo, Dem. Rep.",COD,42.394,2.2,Low income
193,Zambia,ZMB,40.471,15.4,Lower middle income
194,Zimbabwe,ZWE,35.715,18.5,Low income

In [18]:
stats.head(2)

   CountryName CountryCode  BirthRate  InternetUsers  IncomeGroup
0        Aruba         ABW     10.244           78.9  High income
1  Afghanistan         AFG     35.253            5.9   Low income

In [19]:
stats.head(10)

,CountryName,CountryCode,BirthRate,InternetUsers,IncomeGroup
0,Aruba,ABW,10.244,78.9000,High income
1,Afghanistan,AFG,35.253,5.9000,Low income
2,Angola,AGO,45.985,19.1000,Upper middle income
3,Albania,ALB,12.877,57.2000,Upper middle income
4,United Arab Emirates,ARE,11.044,88.0000,High income
5,Argentina,ARG,17.716,59.9000,High income
6,Armenia,ARM,13.308,41.9000,Lower middle income
7,Antigua and Barbuda,ATG,16.447,63.4000,High income
8,Australia,AUS,13.200,83.0000,High income
9,Austria,AUT,9.400,80.6188,High income

In [20]:
stats.head(50)

,CountryName,CountryCode,BirthRate,InternetUsers,IncomeGroup
0,Aruba,ABW,10.244,78.90000,High income
1,Afghanistan,AFG,35.253,5.90000,Low income
2,Angola,AGO,45.985,19.10000,Upper middle income
3,Albania,ALB,12.877,57.20000,Upper middle income
4,United Arab Emirates,ARE,11.044,88.00000,High income
5,Argentina,ARG,17.716,59.90000,High income
6,Armenia,ARM,13.308,41.90000,Lower middle income
7,Antigua and Barbuda,ATG,16.447,63.40000,High income
8,Australia,AUS,13.200,83.00000,High income
9,Austria,AUT,9.400,80.61880,High income
10,Azerbaijan,AZE,18.300,58.70000,Upper middle income
11,Burundi,BDI,44.151,1.30000,Low income
12,Belgium,BEL,11.200,82.17020,High income
13,Benin,BEN,36.440,4.90000,Low income
14,Burkina Faso,BFA,40.551,9.10000,Low income
15,Bangladesh,BGD,20.142,6.63000,Lower middle income
16,Bulgaria,BGR,9.200,53.06150,Upper middle income
17,Bahrain,BHR,15.040,90.00004,High income
18,"Bahamas, The",BHS,15.339,72.00000,High income
19,Bosnia and Herzegovina,BIH,9.062,57.79000,Upper middle income
20,Belarus,BLR,12.500,54.17000,Upper middle income
21,Belize,BLZ,23.092,33.60000,Upper middle income
22,Bermuda,BMU,10.400,95.30000,High income
23,Bolivia,BOL,24.236,36.94000,Lower middle income
24,Brazil,BRA,14.931,51.04000,Upper middle income
25,Barbados,BRB,12.188,73.00000,High income
26,Brunei Darussalam,BRN,16.405,64.50000,High income
27,Bhutan,BTN,18.134,29.90000,Lower middle income
28,Botswana,BWA,25.267,15.00000,Upper middle income
29,Central African Republic,CAF,34.076,3.50000,Low income
30,Canada,CAN,10.900,85.80000,High income
31,Switzerland,CHE,10.200,86.34000,High income
32,Chile,CHL,13.385,66.50000,High income
33,China,CHN,12.100,45.80000,Upper middle income
34,Cote d'Ivoire,CIV,37.320,8.40000,Lower middle income
35,Cameroon,CMR,37.236,6.40000,Lower middle income
36,"Congo, Rep.",COG,37.011,6.60000,Lower middle income
37,Colombia,COL,16.076,51.70000,Upper middle income
38,Comoros,COM,34.326,6.50000,Low income
39,Cabo Verde,CPV,21.625,37.50000,Lower middle income
40,Costa Rica,CRI,15.022,45.96000,Upper middle income
41,Cuba,CUB,10.400,27.93000,Upper middle income
42,Cayman Islands,CYM,12.500,74.10000,High income
43,Cyprus,CYP,11.436,65.45480,High income
44,Czech Republic,CZE,10.200,74.11040,High income
45,Germany,DEU,8.500,84.17000,High income
46,Djibouti,DJI,25.486,9.50000,Lower middle income
47,Denmark,DNK,10.000,94.62970,High income
48,Dominican Republic,DOM,21.198,45.90000,Upper middle income
49,Algeria,DZA,24.738,16.50000,Upper middle income

In [21]:
stats.head(150)

,CountryName,CountryCode,BirthRate,InternetUsers,IncomeGroup
0,Aruba,ABW,10.244,78.9000,High income
1,Afghanistan,AFG,35.253,5.9000,Low income
2,Angola,AGO,45.985,19.1000,Upper middle income
3,Albania,ALB,12.877,57.2000,Upper middle income
4,United Arab Emirates,ARE,11.044,88.0000,High income
...,...,...,...,...,...
145,Qatar,QAT,11.940,85.3000,High income
146,Romania,ROU,8.800,49.7645,Upper middle income
147,Russian Federation,RUS,13.200,67.9700,High income
148,Rwanda,RWA,32.689,9.0000,Low income
149,Saudi Arabia,SAU,20.576,60.5000,High income

In [23]:
stats.tail(2)

    CountryName CountryCode  BirthRate  InternetUsers          IncomeGroup
193      Zambia         ZMB     40.471           15.4  Lower middle income
194    Zimbabwe         ZWE     35.715           18.5           Low income

In [24]:
stats.tail(20)

,CountryName,CountryCode,BirthRate,InternetUsers,IncomeGroup
175,Tunisia,TUN,19.800,43.80,Upper middle income
176,Turkey,TUR,16.836,46.25,Upper middle income
177,Tanzania,TZA,39.518,4.40,Low income
178,Uganda,UGA,43.474,16.20,Low income
179,Ukraine,UKR,11.100,41.00,Lower middle income
180,Uruguay,URY,14.374,57.69,High income
181,United States,USA,12.500,84.20,High income
182,Uzbekistan,UZB,22.500,38.20,Lower middle income
183,St. Vincent and the Grenadines,VCT,16.306,52.00,Upper middle income
184,"Venezuela, RB",VEN,19.842,54.90,High income
185,Virgin Islands (U.S.),VIR,10.700,45.30,High income
186,Vietnam,VNM,15.537,43.90,Lower middle income
187,Vanuatu,VUT,26.739,11.30,Lower middle income
188,West Bank and Gaza,PSE,30.394,46.60,Lower middle income
189,Samoa,WSM,26.172,15.30,Lower middle income
190,"Yemen, Rep.",YEM,32.947,20.00,Lower middle income
191,South Africa,ZAF,20.850,46.50,Upper middle income
192,"Congo, Dem. Rep.",COD,42.394,2.20,Low income
193,Zambia,ZMB,40.471,15.40,Lower middle income
194,Zimbabwe,ZWE,35.715,18.50,Low income

In [25]:
stats.tail(15)

,CountryName,CountryCode,BirthRate,InternetUsers,IncomeGroup
180,Uruguay,URY,14.374,57.69,High income
181,United States,USA,12.500,84.20,High income
182,Uzbekistan,UZB,22.500,38.20,Lower middle income
183,St. Vincent and the Grenadines,VCT,16.306,52.00,Upper middle income
184,"Venezuela, RB",VEN,19.842,54.90,High income
185,Virgin Islands (U.S.),VIR,10.700,45.30,High income
186,Vietnam,VNM,15.537,43.90,Lower middle income
187,Vanuatu,VUT,26.739,11.30,Lower middle income
188,West Bank and Gaza,PSE,30.394,46.60,Lower middle income
189,Samoa,WSM,26.172,15.30,Lower middle income
190,"Yemen, Rep.",YEM,32.947,20.00,Lower middle income
191,South Africa,ZAF,20.850,46.50,Upper middle income
192,"Congo, Dem. Rep.",COD,42.394,2.20,Low income
193,Zambia,ZMB,40.471,15.40,Lower middle income
194,Zimbabwe,ZWE,35.715,18.50,Low income

In [26]:
stats

,CountryName,CountryCode,BirthRate,InternetUsers,IncomeGroup
0,Aruba,ABW,10.244,78.9,High income
1,Afghanistan,AFG,35.253,5.9,Low income
2,Angola,AGO,45.985,19.1,Upper middle income
3,Albania,ALB,12.877,57.2,Upper middle income
4,United Arab Emirates,ARE,11.044,88.0,High income
...,...,...,...,...,...
190,"Yemen, Rep.",YEM,32.947,20.0,Lower middle income
191,South Africa,ZAF,20.850,46.5,Upper middle income
192,"Congo, Dem. Rep.",COD,42.394,2.2,Low income
193,Zambia,ZMB,40.471,15.4,Lower middle income
194,Zimbabwe,ZWE,35.715,18.5,Low income

In [27]:
stats.columns

Index(['CountryName', 'CountryCode', 'BirthRate', 'InternetUsers',
       'IncomeGroup'],
      dtype='object')

In [28]:
stats['CountryName']

0                     Aruba
1               Afghanistan
2                    Angola
3                   Albania
4      United Arab Emirates
               ...
190             Yemen, Rep.
191            South Africa
192        Congo, Dem. Rep.
193                  Zambia
194                Zimbabwe
Name: CountryName, Length: 195, dtype: object

In [29]:
stats['BirthRate']

0      10.244
1      35.253
2      45.985
3      12.877
4      11.044
        ...
190    32.947
191    20.850
192    42.394
193    40.471
194    35.715
Name: BirthRate, Length: 195, dtype: float64

In [30]:
stats[['BirthRate', 'InternetUsers']]

     BirthRate  InternetUsers
0       10.244           78.9
1       35.253            5.9
2       45.985           19.1
3       12.877           57.2
4       11.044           88.0
..         ...            ...
190     32.947           20.0
191     20.850           46.5
192     42.394            2.2
193     40.471           15.4
194     35.715           18.5

[195 rows x 2 columns]

# lets split the dataset to nmerical & categorical a

In [31]:
stats.columns

Index(['CountryName', 'CountryCode', 'BirthRate', 'InternetUsers',
       'IncomeGroup'],
      dtype='object')

In [32]:
stats_numeric_data = stats[['BirthRate', 'InternetUsers']]

In [33]:
stats_numeric_data

     BirthRate  InternetUsers
0       10.244           78.9
1       35.253            5.9
2       45.985           19.1
3       12.877           57.2
4       11.044           88.0
..         ...            ...
190     32.947           20.0
191     20.850           46.5
192     42.394            2.2
193     40.471           15.4
194     35.715           18.5

[195 rows x 2 columns]

In [34]:
stats_numeric_data = stats[['BirthRate', 'InternetUsers']]

In [35]:
stats_numeric_data.head()

   BirthRate  InternetUsers
0     10.244           78.9
1     35.253            5.9
2     45.985           19.1
3     12.877           57.2
4     11.044           88.0

In [36]:
stats_numeric_data.head(2)

   BirthRate  InternetUsers
0     10.244           78.9
1     35.253            5.9

In [37]:
stats_numeric_data.head(10)

   BirthRate  InternetUsers
0     10.244        78.9000
1     35.253         5.9000
2     45.985        19.1000
3     12.877        57.2000
4     11.044        88.0000
5     17.716        59.9000
6     13.308        41.9000
7     16.447        63.4000
8     13.200        83.0000
9      9.400        80.6188

In [38]:
stats_categorical_data = stats[['CountryName', 'CountryCode', 'IncomeGroup']]

In [39]:
stats_categorical_data

              CountryName CountryCode          IncomeGroup
0                   Aruba         ABW          High income
1             Afghanistan         AFG           Low income
2                  Angola         AGO  Upper middle income
3                 Albania         ALB  Upper middle income
4    United Arab Emirates         ARE          High income
..                    ...         ...                  ...
190           Yemen, Rep.         YEM  Lower middle income
191          South Africa         ZAF  Upper middle income
192      Congo, Dem. Rep.         COD           Low income
193                Zambia         ZMB  Lower middle income
194              Zimbabwe         ZWE           Low income

[195 rows x 3 columns]

In [40]:
stats_categorical_data.head(2)

   CountryName CountryCode  IncomeGroup
0        Aruba         ABW  High income
1  Afghanistan         AFG   Low income

In [41]:
stats_categorical_data.tail(2)

    CountryName CountryCode          IncomeGroup
193      Zambia         ZMB  Lower middle income
194    Zimbabwe         ZWE           Low income

In [44]:
print(stats.shape)
print(stats_numeric_data.shape)
print(stats_categorical_data.shape)

(195, 5)
(195, 2)
(195, 3)

# Slicing in pandas

In [45]:
stats[:]

,CountryName,CountryCode,BirthRate,InternetUsers,IncomeGroup
0,Aruba,ABW,10.244,78.9,High income
1,Afghanistan,AFG,35.253,5.9,Low income
2,Angola,AGO,45.985,19.1,Upper middle income
3,Albania,ALB,12.877,57.2,Upper middle income
4,United Arab Emirates,ARE,11.044,88.0,High income
...,...,...,...,...,...
190,"Yemen, Rep.",YEM,32.947,20.0,Lower middle income
191,South Africa,ZAF,20.850,46.5,Upper middle income
192,"Congo, Dem. Rep.",COD,42.394,2.2,Low income
193,Zambia,ZMB,40.471,15.4,Lower middle income
194,Zimbabwe,ZWE,35.715,18.5,Low income

In [46]:
stats[:3]

   CountryName CountryCode  BirthRate  InternetUsers          IncomeGroup
0        Aruba         ABW     10.244           78.9          High income
1  Afghanistan         AFG     35.253            5.9           Low income
2       Angola         AGO     45.985           19.1  Upper middle income

In [47]:
stats[3:]

,CountryName,CountryCode,BirthRate,InternetUsers,IncomeGroup
3,Albania,ALB,12.877,57.2,Upper middle income
4,United Arab Emirates,ARE,11.044,88.0,High income
5,Argentina,ARG,17.716,59.9,High income
6,Armenia,ARM,13.308,41.9,Lower middle income
7,Antigua and Barbuda,ATG,16.447,63.4,High income
...,...,...,...,...,...
190,"Yemen, Rep.",YEM,32.947,20.0,Lower middle income
191,South Africa,ZAF,20.850,46.5,Upper middle income
192,"Congo, Dem. Rep.",COD,42.394,2.2,Low income
193,Zambia,ZMB,40.471,15.4,Lower middle income
194,Zimbabwe,ZWE,35.715,18.5,Low income

In [48]:
stats[:5]

,CountryName,CountryCode,BirthRate,InternetUsers,IncomeGroup
0,Aruba,ABW,10.244,78.9,High income
1,Afghanistan,AFG,35.253,5.9,Low income
2,Angola,AGO,45.985,19.1,Upper middle income
3,Albania,ALB,12.877,57.2,Upper middle income
4,United Arab Emirates,ARE,11.044,88.0,High income

In [49]:
stats[150:]

,CountryName,CountryCode,BirthRate,InternetUsers,IncomeGroup
150,Sudan,SDN,33.477,22.7000,Lower middle income
151,Senegal,SEN,38.533,13.1000,Lower middle income
152,Singapore,SGP,9.300,81.0000,High income
153,Solomon Islands,SLB,30.578,8.0000,Lower middle income
154,Sierra Leone,SLE,36.729,1.7000,Low income
155,El Salvador,SLV,17.476,23.1093,Lower middle income
156,Somalia,SOM,43.891,1.5000,Low income
157,Serbia,SRB,9.200,51.5000,Upper middle income
158,South Sudan,SSD,37.126,14.1000,Low income
159,Sao Tome and Principe,STP,34.537,23.0000,Lower middle income
160,Suriname,SUR,18.455,37.4000,Upper middle income
161,Slovak Republic,SVK,10.100,77.8826,High income
162,Slovenia,SVN,10.200,72.6756,High income
163,Sweden,SWE,11.800,94.7836,High income
164,Swaziland,SWZ,30.093,24.7000,Lower middle income
165,Seychelles,SYC,18.600,50.4000,High income
166,Syrian Arab Republic,SYR,24.043,26.2000,Lower middle income
167,Chad,TCD,45.745,2.3000,Low income
168,Togo,TGO,36.080,4.5000,Low income
169,Thailand,THA,11.041,28.9400,Upper middle income
170,Tajikistan,TJK,30.792,16.0000,Lower middle income
171,Turkmenistan,TKM,21.322,9.6000,Upper middle income
172,Timor-Leste,TLS,35.755,1.1000,Lower middle income
173,Tonga,TON,25.409,35.0000,Upper middle income
174,Trinidad and Tobago,TTO,14.590,63.8000,High income
175,Tunisia,TUN,19.800,43.8000,Upper middle income
176,Turkey,TUR,16.836,46.2500,Upper middle income
177,Tanzania,TZA,39.518,4.4000,Low income
178,Uganda,UGA,43.474,16.2000,Low income
179,Ukraine,UKR,11.100,41.0000,Lower middle income
180,Uruguay,URY,14.374,57.6900,High income
181,United States,USA,12.500,84.2000,High income
182,Uzbekistan,UZB,22.500,38.2000,Lower middle income
183,St. Vincent and the Grenadines,VCT,16.306,52.0000,Upper middle income
184,"Venezuela, RB",VEN,19.842,54.9000,High income
185,Virgin Islands (U.S.),VIR,10.700,45.3000,High income
186,Vietnam,VNM,15.537,43.9000,Lower middle income
187,Vanuatu,VUT,26.739,11.3000,Lower middle income
188,West Bank and Gaza,PSE,30.394,46.6000,Lower middle income
189,Samoa,WSM,26.172,15.3000,Lower middle income
190,"Yemen, Rep.",YEM,32.947,20.0000,Lower middle income
191,South Africa,ZAF,20.850,46.5000,Upper middle income
192,"Congo, Dem. Rep.",COD,42.394,2.2000,Low income
193,Zambia,ZMB,40.471,15.4000,Lower middle income
194,Zimbabwe,ZWE,35.715,18.5000,Low income

In [50]:
stats[3:10]

,CountryName,CountryCode,BirthRate,InternetUsers,IncomeGroup
3,Albania,ALB,12.877,57.2000,Upper middle income
4,United Arab Emirates,ARE,11.044,88.0000,High income
5,Argentina,ARG,17.716,59.9000,High income
6,Armenia,ARM,13.308,41.9000,Lower middle income
7,Antigua and Barbuda,ATG,16.447,63.4000,High income
8,Australia,AUS,13.200,83.0000,High income
9,Austria,AUT,9.400,80.6188,High income

In [51]:
stats[19:59]

,CountryName,CountryCode,BirthRate,InternetUsers,IncomeGroup
19,Bosnia and Herzegovina,BIH,9.062,57.790000,Upper middle income
20,Belarus,BLR,12.500,54.170000,Upper middle income
21,Belize,BLZ,23.092,33.600000,Upper middle income
22,Bermuda,BMU,10.400,95.300000,High income
23,Bolivia,BOL,24.236,36.940000,Lower middle income
24,Brazil,BRA,14.931,51.040000,Upper middle income
25,Barbados,BRB,12.188,73.000000,High income
26,Brunei Darussalam,BRN,16.405,64.500000,High income
27,Bhutan,BTN,18.134,29.900000,Lower middle income
28,Botswana,BWA,25.267,15.000000,Upper middle income
29,Central African Republic,CAF,34.076,3.500000,Low income
30,Canada,CAN,10.900,85.800000,High income
31,Switzerland,CHE,10.200,86.340000,High income
32,Chile,CHL,13.385,66.500000,High income
33,China,CHN,12.100,45.800000,Upper middle income
34,Cote d'Ivoire,CIV,37.320,8.400000,Lower middle income
35,Cameroon,CMR,37.236,6.400000,Lower middle income
36,"Congo, Rep.",COG,37.011,6.600000,Lower middle income
37,Colombia,COL,16.076,51.700000,Upper middle income
38,Comoros,COM,34.326,6.500000,Low income
39,Cabo Verde,CPV,21.625,37.500000,Lower middle income
40,Costa Rica,CRI,15.022,45.960000,Upper middle income
41,Cuba,CUB,10.400,27.930000,Upper middle income
42,Cayman Islands,CYM,12.500,74.100000,High income
43,Cyprus,CYP,11.436,65.454800,High income
44,Czech Republic,CZE,10.200,74.110400,High income
45,Germany,DEU,8.500,84.170000,High income
46,Djibouti,DJI,25.486,9.500000,Lower middle income
47,Denmark,DNK,10.000,94.629700,High income
48,Dominican Republic,DOM,21.198,45.900000,Upper middle income
49,Algeria,DZA,24.738,16.500000,Upper middle income
50,Ecuador,ECU,21.070,40.353684,Upper middle income
51,"Egypt, Arab Rep.",EGY,28.032,29.400000,Lower middle income
52,Eritrea,ERI,34.800,0.900000,Low income
53,Spain,ESP,9.100,71.635000,High income
54,Estonia,EST,10.300,79.400000,High income
55,Ethiopia,ETH,32.925,1.900000,Low income
56,Finland,FIN,10.700,91.514400,High income
57,Fiji,FJI,20.463,37.100000,Upper middle income
58,France,FRA,12.300,81.919800,High income

In [52]:
stats[3:50:5]

,CountryName,CountryCode,BirthRate,InternetUsers,IncomeGroup
3,Albania,ALB,12.877,57.2000,Upper middle income
8,Australia,AUS,13.200,83.0000,High income
13,Benin,BEN,36.440,4.9000,Low income
18,"Bahamas, The",BHS,15.339,72.0000,High income
23,Bolivia,BOL,24.236,36.9400,Lower middle income
28,Botswana,BWA,25.267,15.0000,Upper middle income
33,China,CHN,12.100,45.8000,Upper middle income
38,Comoros,COM,34.326,6.5000,Low income
43,Cyprus,CYP,11.436,65.4548,High income
48,Dominican Republic,DOM,21.198,45.9000,Upper middle income

In [53]:
stats[6:150:10]

,CountryName,CountryCode,BirthRate,InternetUsers,IncomeGroup
6,Armenia,ARM,13.308,41.9000,Lower middle income
16,Bulgaria,BGR,9.200,53.0615,Upper middle income
26,Brunei Darussalam,BRN,16.405,64.5000,High income
36,"Congo, Rep.",COG,37.011,6.6000,Lower middle income
46,Djibouti,DJI,25.486,9.5000,Lower middle income
56,Finland,FIN,10.700,91.5144,High income
66,Guinea-Bissau,GNB,37.503,3.1000,Low income
76,Croatia,HRV,9.400,66.7476,High income
86,Italy,ITA,8.500,58.4593,High income
96,Kuwait,KWT,20.575,75.4600,High income
106,Luxembourg,LUX,11.300,93.7765,High income
116,Malta,MLT,9.500,68.9138,High income
126,New Caledonia,NCL,17.000,66.0000,High income
136,Panama,PAN,19.680,44.0300,Upper middle income
146,Romania,ROU,8.800,49.7645,Upper middle income

In [54]:
stats[20:195:10]

     CountryName CountryCode  BirthRate  InternetUsers          IncomeGroup
20       Belarus         BLR     12.500      54.170000  Upper middle income
30        Canada         CAN     10.900      85.800000          High income
40    Costa Rica         CRI     15.022      45.960000  Upper middle income
50       Ecuador         ECU     21.070      40.353684  Upper middle income
60         Gabon         GAB     30.555       9.200000  Upper middle income
70     Greenland         GRL     14.500      65.800000          High income
80         India         IND     20.291      15.100000  Lower middle income
90    Kazakhstan         KAZ     22.730      54.000000  Upper middle income
100        Libya         LBY     21.425      16.500000  Upper middle income
110      Moldova         MDA     12.141      45.000000  Lower middle income
120   Mozambique         MOZ     39.705       5.400000           Low income
130  Netherlands         NLD     10.200      93.956400          High income
140       Poland         POL      9.600      62.849200          High income
150        Sudan         SDN     33.477      22.700000  Lower middle income
160     Suriname         SUR     18.455      37.400000  Upper middle income
170   Tajikistan         TJK     30.792      16.000000  Lower middle income
180      Uruguay         URY     14.374      57.690000          High income
190  Yemen, Rep.         YEM     32.947      20.000000  Lower middle income

In [55]:
stats[::2]

,CountryName,CountryCode,BirthRate,InternetUsers,IncomeGroup
0,Aruba,ABW,10.244,78.9,High income
2,Angola,AGO,45.985,19.1,Upper middle income
4,United Arab Emirates,ARE,11.044,88.0,High income
6,Armenia,ARM,13.308,41.9,Lower middle income
8,Australia,AUS,13.200,83.0,High income
...,...,...,...,...,...
186,Vietnam,VNM,15.537,43.9,Lower middle income
188,West Bank and Gaza,PSE,30.394,46.6,Lower middle income
190,"Yemen, Rep.",YEM,32.947,20.0,Lower middle income
192,"Congo, Dem. Rep.",COD,42.394,2.2,Low income
194,Zimbabwe,ZWE,35.715,18.5,Low income

In [56]:
stats[::10]

     CountryName CountryCode  BirthRate  InternetUsers          IncomeGroup
0          Aruba         ABW     10.244      78.900000          High income
10    Azerbaijan         AZE     18.300      58.700000  Upper middle income
20       Belarus         BLR     12.500      54.170000  Upper middle income
30        Canada         CAN     10.900      85.800000          High income
40    Costa Rica         CRI     15.022      45.960000  Upper middle income
50       Ecuador         ECU     21.070      40.353684  Upper middle income
60         Gabon         GAB     30.555       9.200000  Upper middle income
70     Greenland         GRL     14.500      65.800000          High income
80         India         IND     20.291      15.100000  Lower middle income
90    Kazakhstan         KAZ     22.730      54.000000  Upper middle income
100        Libya         LBY     21.425      16.500000  Upper middle income
110      Moldova         MDA     12.141      45.000000  Lower middle income
120   Mozambique         MOZ     39.705       5.400000           Low income
130  Netherlands         NLD     10.200      93.956400          High income
140       Poland         POL      9.600      62.849200          High income
150        Sudan         SDN     33.477      22.700000  Lower middle income
160     Suriname         SUR     18.455      37.400000  Upper middle income
170   Tajikistan         TJK     30.792      16.000000  Lower middle income
180      Uruguay         URY     14.374      57.690000          High income
190  Yemen, Rep.         YEM     32.947      20.000000  Lower middle income

In [57]:
stats[::-2]

,CountryName,CountryCode,BirthRate,InternetUsers,IncomeGroup
194,Zimbabwe,ZWE,35.715,18.5,Low income
192,"Congo, Dem. Rep.",COD,42.394,2.2,Low income
190,"Yemen, Rep.",YEM,32.947,20.0,Lower middle income
188,West Bank and Gaza,PSE,30.394,46.6,Lower middle income
186,Vietnam,VNM,15.537,43.9,Lower middle income
...,...,...,...,...,...
8,Australia,AUS,13.200,83.0,High income
6,Armenia,ARM,13.308,41.9,Lower middle income
4,United Arab Emirates,ARE,11.044,88.0,High income
2,Angola,AGO,45.985,19.1,Upper middle income
0,Aruba,ABW,10.244,78.9,High income

In [58]:
stats[::-20]

,CountryName,CountryCode,BirthRate,InternetUsers,IncomeGroup
194,Zimbabwe,ZWE,35.715,18.50,Low income
174,Trinidad and Tobago,TTO,14.590,63.80,High income
154,Sierra Leone,SLE,36.729,1.70,Low income
134,Oman,OMN,20.419,66.45,High income
114,"Macedonia, FYR",MKD,11.222,65.24,Upper middle income
94,Kiribati,KIR,29.044,11.50,Lower middle income
74,"Hong Kong SAR, China",HKG,7.900,74.20,High income
54,Estonia,EST,10.300,79.40,High income
34,Cote d'Ivoire,CIV,37.320,8.40,Lower middle income
14,Burkina Faso,BFA,40.551,9.10,Low income

In [59]:
stats

,CountryName,CountryCode,BirthRate,InternetUsers,IncomeGroup
0,Aruba,ABW,10.244,78.9,High income
1,Afghanistan,AFG,35.253,5.9,Low income
2,Angola,AGO,45.985,19.1,Upper middle income
3,Albania,ALB,12.877,57.2,Upper middle income
4,United Arab Emirates,ARE,11.044,88.0,High income
...,...,...,...,...,...
190,"Yemen, Rep.",YEM,32.947,20.0,Lower middle income
191,South Africa,ZAF,20.850,46.5,Upper middle income
192,"Congo, Dem. Rep.",COD,42.394,2.2,Low income
193,Zambia,ZMB,40.471,15.4,Lower middle income
194,Zimbabwe,ZWE,35.715,18.5,Low income

In [60]:
stats[0:200]

,CountryName,CountryCode,BirthRate,InternetUsers,IncomeGroup
0,Aruba,ABW,10.244,78.9,High income
1,Afghanistan,AFG,35.253,5.9,Low income
2,Angola,AGO,45.985,19.1,Upper middle income
3,Albania,ALB,12.877,57.2,Upper middle income
4,United Arab Emirates,ARE,11.044,88.0,High income
...,...,...,...,...,...
190,"Yemen, Rep.",YEM,32.947,20.0,Lower middle income
191,South Africa,ZAF,20.850,46.5,Upper middle income
192,"Congo, Dem. Rep.",COD,42.394,2.2,Low income
193,Zambia,ZMB,40.471,15.4,Lower middle income
194,Zimbabwe,ZWE,35.715,18.5,Low income