In [1]:
print('ds')
print('ds')
print('ds')
print('ds')
print('ds')

ds
ds
ds
ds
ds

In [2]:
i = 1

while i<=5:
    print('data science')
    i = i + 1

data science
data science
data science
data science
data science

In [3]:
i = 5

while i>=1:
    print('data science')
    i = i - 1

data science
data science
data science
data science
data science

In [4]:
i = 1

while i<=5:
    print('data science')
    j = 1
    while j<=4:
        print('technology')
        j = j + 1

    i = i + 1
    print()

data science
technology
technology
technology
technology

data science
technology
technology
technology
technology

data science
technology
technology
technology
technology

data science
technology
technology
technology
technology

data science
technology
technology
technology
technology

In [1]:
i = 1
while i<=5:
    print('datascience', end ="")
    j = 1
    while j<=4:
        print('Technology', end="")
        j = j + 1

    i = i + 1
    print()

datascienceTechnologyTechnologyTechnologyTechnology
datascienceTechnologyTechnologyTechnologyTechnology
datascienceTechnologyTechnologyTechnologyTechnology
datascienceTechnologyTechnologyTechnologyTechnology
datascienceTechnologyTechnologyTechnologyTechnology

In [2]:
i = 1

while i <= 2:
    j = 0
    while j <= 2:
        print(i*j, end="")
        j += 1
    print()
    i +=1

012
024

In [4]:
i = 1
while i <= 4:
    j = 0
    while j <=3:
        print(i*j, end="")
        j += 1
    print()
    i += 1

0123
0246
0369
04812

In [5]:
i = 10

while i <=4:
    j = 1
    while j <=3:
        print(i*j, end="")
        j += 1

    print()
    i += 1

else:
    print('condition is not match')

condition is not match

# For loop

In [7]:
name = 'Abid'

for i in name:
    print(i)

A
b
i
d

In [9]:
name = 'Sabir'

for i in name:
    print(i)

S
a
b
i
r

In [10]:
name = 'Ansari'

for i in name:
    print(i)

A
n
s
a
r
i

In [11]:
name1 = [1,3,5,'hello']

for i in name1:
    print(i)

1
3
5
hello

In [12]:
range(5)

range(0, 5)

In [13]:
name1 = [1,3,4,5,6,7,'Abid']

for i in name1:
    print(i)

1
3
4
5
6
7
Abid

In [14]:
range()

TypeError: range expected at least 1 argument, got 0

In [15]:
range(6)

range(0, 6)

In [16]:
for i in range(5):
    print(i)

0
1
2
3
4

In [18]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [19]:
for i in range(10,50,5):
    print(i)

10
15
20
25
30
35
40
45

In [20]:
for i in range(20,200,10):
    print(i)

20
30
40
50
60
70
80
90
100
110
120
130
140
150
160
170
180
190

In [21]:
for i in range(1,31):

    if i%3 == 0:
        print(i)

3
6
9
12
15
18
21
24
27
30

In [22]:
for i in range(1,45):

    if i%4 == 0:
        print(i)

4
8
12
16
20
24
28
32
36
40
44

# Break, Continue, pass

In [23]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [24]:
for i in range(1,11):
    if i == 4:
        break
    print(i)

1
2
3

In [25]:
for i in range(1,11):
    if i == 4:
        continue
    print(i)

1
2
3
5
6
7
8
9
10

In [26]:
for i in range(1,11):
    if i == 4:
        pass
    print(i)

1
2
3
4
5
6
7
8
9
10

In [27]:
for i in range(1,11):
    pass

In [29]:
x = int(input('How many chocalate you want:?'))

i = 1
while i<=x:
    print('chocolate:', i)
    i += 1

How many chocalate you want:? 6

chocolate: 1
chocolate: 2
chocolate: 3
chocolate: 4
chocolate: 5
chocolate: 6

In [30]:
x = int(input('How many chocalate you want:?'))

i = 1
while i<=x:
    print('chocolate:', i)
    i += 1

How many chocalate you want:? 5

chocolate: 1
chocolate: 2
chocolate: 3
chocolate: 4
chocolate: 5

In [31]:
ava = 5

x = int(input('How many chocolate you want:?'))

i = 1
while i<=x:
    print('chocolate:', i)
    i += 1

How many chocolate you want:? 10

chocolate: 1
chocolate: 2
chocolate: 3
chocolate: 4
chocolate: 5
chocolate: 6
chocolate: 7
chocolate: 8
chocolate: 9
chocolate: 10

In [34]:
available_choclet = 5

x = int(input('How many Chocolet user want:?'))

i = 1
while i<=x:

    if i>available_chocolet:
        break
    print('chocolet')
    i += 1

print('bye for now')

How many Chocolet user want:? 4

NameError: name 'available_chocolet' is not defined

In [35]:
available_choclet = 5

x = int(input('How Many choclet you want:?'))

i = 1
while i<=x:

    if i>available_choclet:
        print('out of stock')
        break
    print('choclet:, i')
    i += 1

print('bye for now')

How Many choclet you want:? 8

choclet:, i
choclet:, i
choclet:, i
choclet:, i
choclet:, i
out of stock
bye for now

In [36]:
for i in range(1,52):
    if i%3 == 0:
        continue
    print(i)
print('end')

1
2
4
5
7
8
10
11
13
14
16
17
19
20
22
23
25
26
28
29
31
32
34
35
37
38
40
41
43
44
46
47
49
50
end

In [37]:
for i in range(1,51):

    if i%3 == 0 or i%5 == 0:

        continue
    print(i)

1
2
4
7
8
11
13
14
16
17
19
22
23
26
28
29
31
32
34
37
38
41
43
44
46
47
49

In [38]:
nums = [12,15,18,21,26,30,40]

for num in nums:
    if num % 5 == 0:
        print(num)

15
30
40

In [40]:
nums = [12,5,10,25,15,18,21,26,30,40]

for num in nums:
    if num % 5 == 0:
        print(num)

5
10
25
15
30
40

In [41]:
nums = [12,18,21,26]

for num in nums:
    if num % 5 == 0:
        print(num)
        break

In [42]:
nums = [12,18,21,26]

for num in nums:
    if num % 5 == 0:
        print(num)

else:
    print('number is not found')

number is not found

In [43]:
nums = [12,18,15,21,26]

for num in nums:
    if num % 5 == 0:
        print(num)
        break

else:
    print('number is not found')

15